test.ipynb
/data
/tot
/data_csv
*zip
/source/AAAA.py
/test2.ipynb

/img/
/.ipynb_checkpoints
__pycache__/Files_operating.cpython-311.pyc
source/__pycache__/NN_enviroments.cpython-311.pyc
source/__pycache__/Signal_processing.cpython-311.pyc
Run system-Copy1.ipynb
Run system-Copy2.ipynb
/source/44330 old editor_test.ipynb
/detect_app.py
/source/Test_Butt_paper.ipynb
*.pyc
/.idea
